<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
    <link href="~/stil.css" rel="stylesheet" />
</head>

<body>
<header class="ust">
    <h1><strong><a href="index.html">Doğa Aktivileri</a></strong> Grubu</h1>
    <nav id="nav">
        <ul>
            <li><a href="#">Anasayfa</a></li>
            <li><a href="#">Hakkımızda</a></li>
            <li><a href="#">Faaliyetler</a></li>
            <li><a href="#">İletişim</a></li>
        </ul>
    </nav>

    <section id="banner">
        <h2>Doğa Aktiviteleri</h2>
            <p>
                AKTİF BİR YAŞAM İÇİN İLGİNİZİ ÇEKEBİLECEK DOĞA AKTİVİTELERİ
            </p>
            <a href="#">BAŞLA</a>
    </section>
</header>

    <section id="bolum2">
        <div class="kapsayici">
            <div class="sol">
                <h2>DOĞA AKTİVİTELERİ NELERDİR ?</h2>
                <p>MACERA TUTKUNLARI İÇİN...</p>
            </div>
            <div class="sag">
                <article><p>
                        Bireylerin serbest zamanlarında gönüllü olarak katıldıkları, doğanın kendisinin kaynak olarak kullanıldığı, katılımcı ile doğanın mutlaka ilişkili olduğu ve etkileştiği herhangi bir tesis veya tesis haricinde organize aktivitelerin düzenlendiği, bireyin bireylerle ve çevreyle ilişkisinin önemli olduğu, doğal ve/veya düzenlenmiş alanlarda yapılan aktiviteler toplamıdır.  <br /><br />

                        Bununlar beraber başka bir tanımlama ise, " doğanın bir parçası ve katılımcı arasında etkileşim yaratabilen ve bireyin tamamen kendi fiziksel, sağlık, ruhsal sosyal çıkarları doğrultusunda yapılan serbest zaman aktivitelerinin tümü olarak ifade edilebilir”.
                </p></article>
            </div>
        </div>
    </section>

    <div class="temizle"></div>

    <section id="bolum3">
        <h2>FOTOĞRAFLARIMIZ</h2>
        <p>ETKİNLİK FOTOĞRAFLARINA BURADAN ULAŞABİLİRSİNİZ</p>
        <div class="kapsayici2">
            <div class="resim"><img src="~/images/pic02.jpg" alt="Resimlerimiz" />
                <p>BİREYSEL AKTİVİTELER</p>

            </div>
            <div class="resim"><img src="~/images/pic03.jpg" alt="Doğa Resimlerimiz"/>
                <p>GRUP AKTİVİTELERİ</p>
            </div>
        </div>

        <div class="temizle"></div>
        <ul class="yonlendir">
            <li><a href="#">TIKLAYINIZ</a></li>
            <li><a href="#">TIKLAYINIZ</a></li>
        </ul>
    </section>

    <section id="bolum4">
        <div class="kapsayici3">
            <div class="bolumler">
                <div class="kucukresim"><img src="~/images/pic04.jpg" alt="doğa" /></div>
                <div class="yazi">
                    <h3>DAĞ FAALİYETLERİ</h3>
                    <p>Kulüp üyelerimizle birlikte çeşitli alanlarda tecrübeli eğitmen ve rehberlerimiz önderliğinde faaliyetler düzenlemekteyiz.</p>
                </div>
            </div>

            <div class="bolumler">
                <div class="kucukresim"><img src="~/images/pic05.jpg" alt="doğa" /></div>
                <div class="yazi">
                    <h3>UZUN MESAFE YÜRÜYÜŞLERİ</h3>
                    <p>Kulüp üyelerimizle birlikte doğada keyifli yürüyüşleri rehberlerimizin önderliğinde yapıyoruz.</p>
                </div>
            </div>

            <div class="bolumler">
                <div class="kucukresim"><img src="~/images/pic06.jpg" alt="doğa" /></div>
                <div class="yazi">
                    <h3>GEZİLER</h3>
                    <p>Kulüp üyelerimizin isteklerini dikkate alarak şehir içi ve şehir dışına geziler düzenliyoruz, bu gezilerde keyifli anları birlikte biriktiriyoruz.</p>
                </div>
            </div>

            <div class="bolumler">
                <div class="kucukresim"><img src="~/images/pic07.jpg" alt="doğa" /></div>
                <div class="yazi">
                    <h3>DOĞA AKTİVİTELERİ</h3>
                    <p>Doğanın bize sunduğu imkanları değerlendirmekten çok keyif aldığımız etkinliklerimiz çeşitlilik gösteriyor.</p>
                </div>
            </div>
        </div>
    </section>

    <div class="temizle"></div>

    <section id="bolum5">
        <div class="icerik">
            <h2>SENİ DE ARAMIZDA GÖRMEK İSTERİZ</h2>
            <p>BİZE KATILMAK İSTER MİSİN ?</p>
            <a href="#">BİZE KATIL</a>
        </div>
    </section>

    <footer>
        <div class="sosyal">
            <a href="#" title="facebook"></a>
            <a href="#" title="twitter"></a>
            <a href="#" title="linkedin"></a>
        <ul>

        </ul>

        </div>
    </footer>
</body>
</html>
